<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Seluruh aplikasi ini bicara ke server: masuk, order, chat, pembayaran, unggah
         foto bukti. Tanpa baris ini tidak satu pun dari itu bisa jalan.

         Template Flutter hanya menaruh izin ini di manifes debug dan profile, dan itu
         bukan kelalaian template melainkan pilihannya: aplikasi yang tidak butuh jaringan
         tidak seharusnya memintanya, jadi yang butuh harus menyatakannya sendiri di sini.
         Akibatnya jebakannya sunyi. Selama aplikasi dikembangkan lewat Flutter web dan
         build debug, semuanya bekerja; yang pertama kali kehilangan jaringan justru APK
         rilis yang diserahkan ke dosen atau mitra, dan gagalnya tidak terlihat seperti
         izin yang kurang melainkan seperti server yang mati. -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Untuk tombol "Pakai lokasi saat ini" di pemilih lokasi Anter Jemput.
         Cuma FINE, bukan BACKGROUND_LOCATION: lokasi dibaca sekali saat
         tombolnya ditekan, bukan diikuti terus-menerus di latar belakang. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:label="upnvj_suruh"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false"
        android:fullBackupContent="false">
        <!-- Cadangan dimatikan. Begitu aplikasi ini menyimpan token sesi dan foto bukti
             pekerjaan di perangkat, cadangan bawaan Android menyalinnya ke luar, dan di
             perangkat yang bisa di-adb salinan itu bisa ditarik tanpa membuka kunci
             layar. Order membawa nama dan alamat rumah pelanggan, jadi yang bocor bukan
             preferensi tampilan. -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- Nomor HP runner di detail order dibuka lewat url_launcher (skema tel:).
             Tanpa ini, Android 11 ke atas menyembunyikan aplikasi telepon dari
             daftar yang boleh dilihat, dan launchUrl gagal diam-diam. -->
        <intent>
            <action android:name="android.intent.action.DIAL"/>
            <data android:scheme="tel"/>
        </intent>
    </queries>
</manifest>
